<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Rubros</title>
</head>
<body>
    <h2 style= "text-align: center">Agregar Rubros</h1>
    
        <div style = "width:90%">
        <div class="form-control" style="margin:20px">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-outline-dark">Añadir Rubro</button>
        </form>
        </div>
    </div>    
    
    <div class="container">
        <h2 style= "text-align: center">Rubros</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th colspan="2">Opciones</th>
            </tr>
          </thead>

            <tbody>
            {% for rubro in todos %}
            <tr>
                <td>{{rubro.id}}</td>
                <td>{{rubro.nombre}}</td>
                <td><a href="eliminar_rubro/{{rubro.id}}">Eliminar</a></td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        
    </div>

    <a style= "margin:25px" href="{% url 'nuevo_gasto' %}" class="btn btn-outline-dark">Añadir gasto</a>
    <a href="{% url 'ver_gastos' %}" class="btn btn-outline-dark">Ver gastos</a>
    <a href="{% url 'index' %}" class="btn btn-outline-dark">Volver al inicio</a>
    
    
    
    
    
            
         
</body>
</html>